@import "../node_modules/bootstrap/scss/functions";

@import "../node_modules/bootstrap/scss/variables";

$ocean: #1572a1;
$teal: #9ad0ec;
$custom-colors: (
  "ocean": $ocean,
  "teal": $teal,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
