body {
  font-family: "Rubik", sans-serif;
}

section {
  padding-top: 5rem;
}

.ocean {
  background-color: #1572a1;
}

.jumbotron {
  /* padding-top: 6rem; */
  /* background-color: #e2edff; */
  background-color: #9ad0ec;
}

.nav-link:active {
  animation: heartBeat;
  animation-duration: 1.5s;
}

.gallery {
  background-color: #9ad0ec;
}

img.rounded-circle.img-thumbnail {
  animation: bounceIn;
  animation-duration: 1s;
}

h1.display-4,
p.lead {
  animation: fadeIn;
  animation-duration: 1s;
}

.sub:active {
  animation: headShake;
  animation-duration: 1s;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 100%;
}
